#form-wrapper{
	width: 500px;
	padding: 30px;
/*padding 30 px is the same as...
padding: 30px 30px 30px;
padding: 30px 30px 30px 30px; 
padding-top:30px; */

margin: auto;
background-color: #fff;
border-radius: 6px;
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

#sign-up h1{
background-color: #2a88ad;
padding: 20px 30px 15px;
color: #fff;
/*working with corners instead of sides with border radius*/
border-radius: 10px 10px 0px 0px;
text-shadow:3px 3px 3px rgba(0,0,0,.8);
font-size: 30px;
box-shadow: 0px 2px 2px 0px rgba(255,255,255,0.17);
text-align: left;
}

#sign-up h1 span {
	margin-top: 10px;
	font-size: 14px;
	display: block;
}

#form-wrapper .section{
	font-size: 24px;
	color: #2a88ad;
	/*margin bottom: 10px;
	  margin top: 10px;*/
	margin: 10px 0px;

	
}
#form-wrapper .section span{
	background-color: #2a88ad;
	padding: 5px 10px;
	border-radius: 50%;
	color: #fff;
	border: 5px solid #fff;
	font-size: 16px;
	margin-left: -45px;
	position: absolute;

}
#form-wrapper label{
	display: block;
	font:13px Arial, sans-serif;
	color: #888;
}

#form-wrapper input{
	display: block;
	box-shadow: 3px 3px 3px rgba(0,0,0,.7);
	width: 100%;
	border-radius: 5px;
}

.inner-wrapper{
	background-color: black;
}

.form-wrapper{
	padding:10px;
	background-color: #f8f8f8;
	overflow: hidden;

}

input[type=submit]{
	background:#2a88ad;
	border-radius: 6px;
	color:white;
	border: 1px solid #257c9e;
	cursor: pointer;
	width: 120px;
	float: left;
}

.privacy {
	float: right;
	font: 12;
}


